#footer-logo li {
    display: inline;
    margin-right: 1rem;
}
 .selectize-control.multi .selectize-input>div {
     cursor: pointer;
     margin: 0 3px 3px 0;
     padding: 1px 5px;
     background: #C2ACFF;
       color: #333;
       border: 0 solid rgba(0,0,0,0)
  }
  .selectize-input,.selectize-control.single .selectize-input.input-active {
     background: #6963A5;
       cursor: text;
   }
.card, .small-box, .info-box {
    border-radius: 0rem !important;
}
.card-header {
    border-radius: 0rem 0rem 0 0 !important;
}
.small-box-footer {
    border-radius: 0 0 0rem 0rem !important;
}
.small-box > .inner {
    font-size: 2.125rem;
    font-weight: 900;
}
.small-box > .inner > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.info-box .info-box-icon {
    border-radius: 0.8rem;
}
.info-box-number {
    font-size: 1.5rem;
}
.description-percentage {
    font-size: 2.5rem;
    font-weight: 700;
}
.description-header {
    font-size: 1.125rem;
}
.description-text {
    font-size: 1.125rem;
    font-family:  'Roboto', sans-serif !important; 
}
.card-pane-right {
    border-radius: 1rem !important;
}

/* p { */
/*     font-family: 'Roboto', sans-serif !important; */
/* } */

.card-body > p {
    font-family: 'Roboto', sans-serif;
}
.tab-pane > p {
    font-family: 'Roboto', sans-serif;
}
.list-group > p {
    font-family: 'Roboto', sans-serif;
}


#shiny-tab-metodologia {
    font-size: 1.125rem;
}
#shiny-tab-metodologia p {
    font-family: 'Roboto', sans-serif !important;
}

.filtro, .grafico {
    background-color: #ffffff !important;
    border-radius: 1rem;
    border: 1px solid #212121;    
}
